/* Estilos para a página de visualização de um Bloco */

.anotacoes-cell input[type="text"] {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
    background-color: #f8f9fa;
}
.anotacoes-cell input[type="text"]:focus {
    outline: 1px solid #0d47a1;
    background-color: #fff;
}